---
import Layout from "../layouts/Layout.astro";
import Header from "../components/organisms/Header.astro"
import About from "../components/molecules/About.astro";
import Hero from "../components/molecules/Hero.astro"
import Projects from "../components/molecules/Projects.astro"
---

<Layout title="Spagnolo Carlos">
  <main>
    <Header />
    <Hero />
    <About />
    <Projects />
  </main>
</Layout>
