---
interface Props {
	title: string;
  content: string;
  stack: string
}

const { title, content, stack  } = Astro.props;
---

<style>
  .text {
    text-wrap: pretty;
  }
</style>

<div
      class="w-full max-w-5xl mx-auto px-4 min-h-screen flex flex-col justify-center items-center"
    >
      <h2 class="text-[var(--tertiary)] text-5xl font-bold">{title}</h2>
      <article class="mt-8">
        <p class="text-white text-xl text indent-4 text-center sm:text-left">
          {content}
        </p>
        <div
          class="border border-white mt-6 p-4 rounded-md bg-white/30 backdrop-blur-md transition-all duration-200 hover:drop-shadow-[0_0_10px_rgba(255,255,255,0.5)]"
        >
          <h3 class="text-gray-800 text-3xl font-bold mb-4">{stack}</h3>
          <div class="flex items-center flex-wrap gap-4 justify-start md:flex-nowrap md:justify-between">
            <img src="./react.svg" alt="React" width="50" />
            <img src="./nextjs.svg" alt="Next" width="50" />
            <img src="./astro.webp" alt="Astro" width="50" />
            <img src="./tailwind.svg" alt="Tailwind" width="50" />
            <img
              src="./styled-component.png"
              alt="Styled Component"
              width="50"
            />
            <img src="./html.webp" alt="HTML" width="50" />
            <img src="./css.svg" alt="CSS" width="50" />
            <img src="./javascript.svg" alt="JavaScript" width="50" />
            <img src="./git.webp" alt="Git" width="50" />
          </div>
        </div>
      </article>
    </div>