<div class="w-full max-w-5xl mx-auto px-4 min-h-screen flex flex-col justify-center items-center">
  <h2 class="text-[var(--tertiary)] text-5xl font-bold">Contact</h2>
  <form method="POST" id="contactForm" class="w-full max-w-xl p-4 bg-white/30 backdrop-blur-md rounded-lg shadow-md mt-8 transition-all duration-200 hover:drop-shadow-[0_0_10px_rgba(255,255,255,0.2)]">
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-[#2C3333] text-xs font-bold mb-2" for="name">
          Your Name
        </label>
        <input
          class="appearance-none block w-full bg-gray-100 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
          id="name"
          name="name"
          type="text"
          placeholder="John Doe"
          required
        >
      </div>
      <div class="w-full md:w-1/2 px-3">
        <label class="block uppercase tracking-wide  text-[#2C3333] text-xs font-bold mb-2" for="email">
          Your Email
        </label>
        <input
          class="appearance-none block w-full bg-gray-100 text-gray-700 border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white"
          id="email"
          name="email"
          type="email"
          placeholder="john.doe@example.com"
          required
        >
      </div>
    </div>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full px-3">
        <label class="block uppercase tracking-wide  text-[#2C3333] text-xs font-bold mb-2" for="message">
          Your Message
        </label>
        <textarea
          class=" no-resize appearance-none block w-full bg-gray-100 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white h-48 resize-none"
          id="message"
          name="message"
          placeholder="Enter your message here..."
          required
        />
      </div>
    </div>
    <div class="md:flex md:items-center">
      <div class="flex items-center gap-4 md:w-full">
        <button id="button" class="shadow bg-[--secondary] transition-colors duration-200 disabled:bg-gray-400 hover:enabled:bg-[--primary] focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="submit">
          Send
        </button>
        <span id="response" class="text-[#2C3333] font-semibold"></span>
      </div>
    </div>
  </form>  
</div>

<script>
  import {submitForm} from "../../services/app.services"

  document.getElementById('contactForm').addEventListener('submit', async function(event) {
    event.preventDefault();
    const values = {
      name: event.target["elements"].name.value,
      email: event.target["elements"].email.value,
      message: event.target["elements"].message.value,
    };
    const btn = document.getElementById("button") as HTMLButtonElement;
    const span = document.getElementById("response") as HTMLSpanElement;
    btn.disabled = true;
    span.innerText = "";
    const response = await submitForm(values);

    if (response.ok) {
      btn.disabled = false;
      span.innerText = "Your message has been sent successfully ✔";
      const form = document.getElementById("contactForm") as HTMLFormElement;
      form.reset()
    } else {
      btn.disabled = false;
      span.innerText = "An error occurred while sending the message. Please try again";
    }
  });
</script>