---
import Card from "../atoms/Card.astro";
---
<style>
  .list::-webkit-scrollbar {
    display: none;
  }
</style>

<div class="w-full max-w-5xl mx-auto px-4 min-h-screen flex flex-col justify-center items-center">
  <h2 class="text-[var(--tertiary)] text-5xl font-bold">Some projects</h2>
  <ul class="mt-8 list max-w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <Card
      title="Shop All"
      description="This is the first attempt to create an ecommerce site."
      image="./shopall.webp"
      link="https://github.com/SpagnoloCarlos/ShopAll"
    />
    <Card
      title="Spagnolo Shop"
      description="E-commerce site. It has a home page, catalog, product description, login and shopping cart coming soon."
      image="./spagnoloshop.webp"
      link="https://github.com/SpagnoloCarlos/e-commerce"
    />
    <Card
      title="Sunnyside"
      description="This is a solution to the Sunnyside agency landing page challenge on Frontend Mentor."
      image="./sunnyside.webp"
      link="https://github.com/SpagnoloCarlos/sunnyside"
    />
    <Card
      title="Simple Coffee"
      description="This is the solution to the devChallerges challenge called Simple Coffee."
      image="./simple-coffee.webp"
      link="https://github.com/SpagnoloCarlos/simple-coffee"
    />
    <Card
      title="Blog"
      description="Blog site developed with Next 13 and Tailwind, which uses its own api."
      image="./frontblog.webp"
      link="https://github.com/SpagnoloCarlos/front-blog"
    />
  </article>
</section>