---
import Card from "../atoms/Card.astro";
---

<section class="w-full max-w-5xl mx-auto px-4 min-h-screen flex flex-col justify-center items-center">
  <h2 class="text-[var(--tertiary)] text-5xl font-bold">Some projects</h2>
  <ul class="flex items-stretch gap-4 mt-8">
    <Card
      title="Shop All"
      description="This is the first attempt to create an ecommerce site."
      image="./shopall.webp"
      link="http://www.github.com"
    />
    <Card
      title="Spagnolo Shop"
      description="This is a ecommerce site"
      image="./spagnoloshop.webp"
      link="http://www.github.com"
    />
  </article>
</section>