<header
  class="flex items-center justify-center fixed top-0 w-full p-4 bg-gray/5 backdrop-blur-md"
>
  <nav>
    <ul
      class="flex gap-8 justify-center [&>li>a]:text-white [&>li>a]:text-lg"
    >
      <li><a href="#">About</a></li>
      <li><a href="#">Proyects</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>