---
interface INavigation {
  home: string;
  about: string;
  projects: string;
  contact: string;
  stack: string
}
interface Props {
	navigation: INavigation;
}

const { navigation: { home, about, projects, contact } } = Astro.props;
---

<style>
  @media (min-width: 568px){
    .header {
      max-width: calc(100% - 18px);
    }  
  }
</style>

<header
  class="flex items-center justify-center fixed top-0 z-[5] w-full p-4 bg-gray/5 backdrop-blur-md header"
>
  <nav class="flex items-center gap-8">
    <ul
      class="flex gap-8 justify-center [&>li>button]:text-white [&>li>button]:text-lg"
    >
      <li>
        <button id="btn-hero" class="flex flex-col gap-1 [&:hover>span]:w-full">
          {home}
          <span class="self-center w-full sm:w-0 h-[2px] bg-[--secondary] transition-all duration-200"></span>
        </button>
      </li>
      <li>
        <button id="btn-about" class="flex flex-col gap-1 [&:hover>span]:w-full">
          {about}
          <span class="self-center w-full sm:w-0 h-[2px] bg-[--secondary] transition-all duration-200"></span>
        </button>
      </li>
      <li>
        <button id="btn-projects" class="flex flex-col gap-1 [&:hover>span]:w-full">
          {projects}
          <span class="self-center w-full sm:w-0 h-[2px] bg-[--secondary] transition-all duration-200"></span>
        </button>
      </li>
      <li>
        <button id="btn-contact" class="flex flex-col gap-1 [&:hover>span]:w-full">
          {contact}
          <span class="self-center w-full sm:w-0 h-[2px] bg-[--secondary] transition-all duration-200"></span>
        </button>
      </li>
    </ul>
    <!-- <div class="hidden md:flex items-center gap-2 text-white mb-[4px]">
      <span id="spanish" class="transition-color duration-300 text-[var(--cuaternary)]">Es</span>
      <div class="relative">
        <input type="checkbox" id="toggle" class="hidden"/>
        <label for="toggle" class="flex items-center cursor-pointer">
            <div id="toggleBar" class="relative w-12 h-6 bg-[var(--secondary)] rounded-full shadow-inner"/>
            <div id="toggleButton" class="absolute w-6 h-6 bg-[var(--tertiary)] rounded-full shadow inset-y-0 left-0 transition-transform duration-300" />
        </label>
      </div>
      <span id="english" class="transition-color duration-300">En</span>
    </div> -->
  </nav>
</header>

<script>
  document.querySelector("#btn-hero").addEventListener("click", function() {
    document.querySelector("#hero").scrollIntoView({ behavior: "smooth" });
  });
  document.querySelector("#btn-about").addEventListener("click", function() {
    document.querySelector("#about").scrollIntoView({ behavior: "smooth" });
  });
  document.querySelector("#btn-projects").addEventListener("click", function() {
    document.querySelector("#projects").scrollIntoView({ behavior: "smooth" });
  });
  document.querySelector("#btn-contact").addEventListener("click", function() {
    document.querySelector("#contact").scrollIntoView({ behavior: "smooth" });
  });

  document.querySelector("#toggle").addEventListener("click", function() {
    const checked = this.checked;
    const toggleButton = document.getElementById('toggleButton'); 
    const es = document.getElementById('spanish'); 
    const en = document.getElementById('english');
    if (checked){
      toggleButton.style.transform = 'translateX(100%)';
      es.style.color = "#fff";
      en.style.color = "#1dd9e1";
    } else {
      toggleButton.style.transform = 'translateX(0)';
      es.style.color = "#1dd9e1";
      en.style.color = "#fff";
    }
  });
</script>